.mdui-card {
    border-radius:12px
}

.mdui-dialog {
    border-radius:12px
}

.mdui-btn-block {
    border-radius:12px
}

.mdui-btn {
    border-radius:12px
}

.mdui-video-fluid {
    border-radius:12px
}
